<div class="container">
    <form>
        <h1>Criando uma nova room</h1>
    
        <mat-form-field class="form">
            <mat-label>Nome</mat-label>
            <input matInput  type="text" name="nome" placeholder="Ex. Compuntação">
        </mat-form-field>
    
        <mat-form-field class="form">
            <mat-label>Data</mat-label>
            <textarea matInput type="text" name="date"
                placeholder="Ex. Livros de Compuntação"></textarea>
        </mat-form-field>

        <mat-form-field class="form">
            <mat-label>Inicio</mat-label>
            <textarea matInput type="text" name="inicio"
                placeholder="Ex. Livros de Compuntação"></textarea>
        </mat-form-field>

        <mat-form-field class="form">
            <mat-label>Fim</mat-label>
            <textarea matInput type="text" name="fim"
                placeholder="Ex. Livros de Compuntação"></textarea>
        </mat-form-field>

        <mat-form-field class="form">
            <mat-label>Status</mat-label>
            <textarea matInput type="text" name="status"
                placeholder="Ex. Livros de Compuntação"></textarea>
        </mat-form-field>
    
        <div class="buttons">
            <button  class="save mat-elevation-z8" mat-stroked-button>
                <mat-icon>check</mat-icon>
                SALVAR
            </button>
            <button  class="mat-elevation-z8" color="warn" mat-stroked-button>
                <mat-icon>delete</mat-icon> CANCELAR</button>
        </div>
    
    </form>
</div>