<div class="main-div">

    <form autocomplete="off" (ngSubmit)="onSubmit()" (ngReset)="reiniciarForm()" [formGroup]="formRoom">
        <h1>Create a new Room</h1>

        <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput name="name" formControlName="name" placeholder="Name the Room">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput readonly placeholder="Date" name="controlName" formControlName="date"
                (click)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Start Hour</mat-label>
            <input matInput name="inicio" formControlName="startHour" placeholder="Start Hour">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>End Hour</mat-label>
            <input matInput name="fim" formControlName="endHour" placeholder="End Hour">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Status</mat-label>
            <input matInput name="Status" formControlName="active" placeholder="Status">
        </mat-form-field>

        <div>
            <button type="submit" mat-button class="mat-elevation-z8 btnSucesso" mat-raised-button>
                <mat-icon>check</mat-icon> Save
            </button>
            <button type="submit" color="warn" mat-button class="mat-elevation-z8 btnCancel" mat-raised-button>
                <mat-icon>cancel</mat-icon> Cancel
            </button>
        </div>

    </form>



</div>