<div class="main-div">

    <form autocomplete="off" (ngSubmit)="onSubmit()" (ngReset)="reiniciarForm()" [formGroup]="formulario">
        <h1>Create a new Room</h1>

        <apss-input-text titulo="Ex. Sala Java" controlName="name" [formGroup]="formulario"></apss-input-text>
        <apss-input-date titulo="Data *" controlName="date" [formGroup]="formulario">
        </apss-input-date>

        <apss-hora-start titulo="Start Hour" controlName="startHour" [formGroup]="formulario" ></apss-hora-start>      


        

        <mat-form-field class="full-width">
            <mat-label>End Hour *</mat-label>
            <input matInput name="fim" formControlName="endHour" placeholder="99:99">
            <mat-error *ngIf="validacao.hasErrorValidar(f.endHour,'required')">Campo obrigátorio</mat-error>
            <mat-error *ngIf="validacao.hasErrorValidar(f.endHour,'pattern')">Formato valído 99:99</mat-error>
        </mat-form-field>


        <section class="example-section">
            <mat-checkbox color="primary" formControlName="active">Status</mat-checkbox>
        </section>


        <div style="margin-top: 15px;">
            <button type="submit" mat-button class="mat-elevation-z8 btnSucesso" mat-raised-button>
                <mat-icon>check</mat-icon> Save
            </button>
            <button type="reset" color="warn" mat-button class="mat-elevation-z8 btnCancel" mat-raised-button>
                <mat-icon>cancel</mat-icon> Cancel
            </button>
        </div>

    </form>



</div>