<div [formGroup]="formGroup">
    <mat-form-field class="full-width">
        <mat-label>Nome *</mat-label>
        <input matInput 
            [placeholder]="titulo" 
            [name]="controlName" 
            [formControlName]="controlName">

        <mat-error *ngIf="validacao.hasErrorValidar(formControl,'required')">Campo obrigátorio</mat-error>
        <mat-error
            *ngIf="validacao.hasErrorValidar(formControl,'minlength') || validacao.hasErrorValidar(formControl,'maxlength')">
            Campo
            dever ter no mínimo 4 e no máximo 80 caracters</mat-error>
    </mat-form-field>
</div>